.large-hero{
    position: relative;
    height: 420px;
    transition: all .3s ease-out;
    overflow: hidden;
    @mixin atSmall{
        height: 690px;
    }

    &__video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 2;
    }
    &__text-content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
        .wrapper{
            max-width: 678px;
        }
    }
    &__title{
        color: $mainGreen;
        font-size: 3rem;
        font-weight: 900;
        font-family: 'Raleway', Sans-Serif;
        line-height: 1.2em;
        @mixin atSmall{
            font-size: 4.0625rem;
        }
    }
    &__description{
        font-size: 1.2rem;
        color: white;
        @mixin atSmall{
            font-size: 2rem;
        }
    }
}